body {
  background: linear-gradient(to bottom left, #1da1f2, #6253e8);
  margin: 0 ;
  padding: 0 ;
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  text-align: center;
}
input, textarea {
  caret-color: rgb(115, 239, 115); 
}
DIV[data-lastpass-icon-root] {
  display: none !important; /* This disables LastPass */
}
ul {
  z-index: 9999;
}
footer {
  z-index: 999; /* A higher value than the content */
}

table{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.main {
  border-radius: 20%;
}

/* Light Mode Styles */
.light {
  background: linear-gradient(to bottom left, #1da1f2, #6253e8);
  color: #000;
  transition: all 1s;
}

/* Dark Mode Styles */
.dark {
  background: linear-gradient(to bottom left, #1d4ed8, #1f2937);
  color: #fff;
  transition: all 1s;
}

.broken-hr {
  border: none;
  height: 5px; 
  background-repeat: repeat-x;
  margin: 20px 0px;
  background-size: 16px 2px; /* Adjust the size of the dashes */
  background-image: linear-gradient(to right, #ccc 90%, transparent 0%);
}
.custom-pulse {
  animation: custom-pulse-animation 1s infinite ease-in-out;
}

@keyframes custom-pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

button {
	width: var(--input-width);
	border: 1px solid #6253e8;
}

/* Define a slower and smoother bounce animation */
@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(-10px);
  }
}

/* Apply the slower and smoother bounce animation */
.animate-custom-bounce {
  animation: custom-bounce 1s ease-in-out infinite; /* Adjust the duration as needed */
}



/* Define a CSS animation called 'spin-once' */
@keyframes spin-once {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply the animation to an element on hover */
.element-to-spin-on-hover:hover {
  animation: spin-once 1s ease-in-out; /* You can adjust the duration and easing as needed */
}
.arrow {
	background-color: #e6e4f6;
	height: 60px;
	width: 60px;
	border-radius: 10px;
	display: grid;
	place-items: center;
	cursor: pointer;
	transition: all 0.5s;
}

.arrow svg {
	color: #1d4ed8;
}

.light .arrow{
	background-color: #f5f5f5;
	transition: all 0.5s;
}
.arrow:hover{
  background-color: #1da1f2;
}