body {
  background: linear-gradient(to bottom left, #1da1f2, #6253e8);
  margin: 0 ;
  padding: 0 ;
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  text-align: center;
}
input, textarea {
  caret-color: rgb(115, 239, 115); 
}
DIV[data-lastpass-icon-root] {
  display: none !important; /* This disables LastPass */
}
ul {
  z-index: 9999;
}
footer {
  z-index: 999; /* A higher value than the content */
}

table{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.main {
  border-radius: 20%;
}

/* Light Mode Styles */
.light {
  background: linear-gradient(to bottom left, #1da1f2, #6253e8);
  color: #000;
  transition: all 1s;
}

/* Dark Mode Styles */
.dark {
  background: #1d4ed8;
  color: #fff;
  transition: all 1s;
}

.broken-hr {
  border: none;
  height: 5px; 
  background-repeat: repeat-x;
  margin: 20px 0px;
  background-size: 16px 2px; /* Adjust the size of the dashes */
  background-image: linear-gradient(to right, #ccc 90%, transparent 0%);
}
.custom-pulse {
  animation: custom-pulse-animation 1s infinite ease-in-out;
}

@keyframes custom-pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

button {
	width: var(--input-width);
	border: 1px solid #6253e8;
}

/* Define custom keyframes for a slower bounce animation */
@keyframes custom-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Apply the custom bounce animation and set the duration */
.animate-custom-bounce {
  animation: custom-bounce 6.5s ease-in-out infinite;
}
.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.switch label {
  margin: 10px;
}